<div id="user-title">
	<h1 id="user-greeting">hey there, <span class="grey"><%= @user.username %></span>!</h1>
	<div id="user-edit">
		<%= link_to("edit account", edit_user_path(@user), :class => "normalize-link") %> |
		<%= button_to("remove account", user_path(@user), method: :delete, data: {confirm: "Are you sure you would like to delete your account?  All of your snippets and comments will also be removed from the site."}, class: "normalize-link") %>
	</div>
</div>

<br>

<h2 class="snippet-count">your favorite snippets <span class="grey">( <%= @favorites.count %>  )</span></h2>
<div id="snippet-blurb-all">
	<%= render @favorites %>
</div>

<h2 class="snippet-count">your snippets <span class="grey">( <%= @snippets.count %> )</span></h2>
<div id="snippet-blurb-all">
	<%= render @snippets %>
</div>

<h2 class="snippet-count">snippets you have commented on <span class="grey">( <%= @commented.count %> )</span></h2>
<div id="snippet-blurb-all">
	<%= render @commented %>
</div>