<!DOCTYPE html>
<html>
<head>
  <title>minimalist</title>
  <%= stylesheet_link_tag    'normalize', media: 'all' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <script async src="//genius.codes"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <a id="main-title" href="/snippets"><span class="black">minim<span class="small">&#916;</span></span>list<!--<span class="small">+</span> --></a>
    <nav id="user-nav">
      <% if current_user %>
        <%= link_to "#{current_user.username}", user_path(current_user) %> |
        <%= link_to "logout", logout_path %>
      <% else %>
        <%= link_to('register', new_user_path) %> |
        <%= link_to('login', new_session_path) %>
      <% end %>
    </nav>
  </header>
  <nav id="main-nav">
    <a href="/categories/container">containers</a>
    <a href="/categories/navbar">navbars</a>
    <a href="/categories/form">forms</a>
    <a href="/categories/button">buttons</a>
    <a href="/categories/list">lists</a>
    <a href="/categories/layout">layouts</a>
    <a href="/categories/font">fonts</a>
    <a href="/colors">colors</a>
    <a href="/about">about</a>
  </nav>
    <%= yield %>
</body>
<!-- Copyright ⓒ2016 | Kevin Perkins-->
</html>
